ion-input {
  font-size: 60px;
  margin-left: 45%;
  font-weight: 500;
}

ion-button {
  --background: rgb(0, 0, 0);
}

.itens {
  padding-left: 9%;
}

.equipe {
  align-items: itens;
  font-weight: 500;
  font-size: 20px;
  margin-left: 20%;
}

.zerar {
  width: 80%;
  margin-left: 10%;
}

